<div class="field">
    <label >{{label}}</label>
    <input  [formControl]="control">
    <ng-container *ngIf="control.errors && control.touched && control.dirty">
        <div class="ui red basic label" *ngIf="control.errors.required">
            Value required
        </div>
        
        <div class="ui red basic label" *ngIf="control.errors.minlength">
            You have entered value of {{control.errors.minlength.actualLength}} characters long,
            value sholud be minimum of {{control.errors.minlength.requiredLength}} characters long
        </div>
        <div class="ui red basic label" *ngIf="control.errors.maxlength">
            You have entered value of {{control.errors.maxlength.actualLength}} characters long,
            value sholud be maximum of {{control.errors.maxlength.requiredLength}} characters long

        </div>
        <div class="ui red basic label" *ngIf="control.errors.pattern">
            Invalid format
        </div>
        
        <div class="ui red basic label" *ngIf="control.errors.noConnection">
            Please check your internet connection
        </div>
        <div class="ui red basic label" *ngIf="control.errors.nonUniqe">
            User name is alredy available
        </div>
    </ng-container>
</div>